* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  height: 68px;
  background-color: #0f1111;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Box 1 */
.add-logo {
  height: 40px;
  width: 120px;
  padding: 3px 0px 10px 10px;
}

.logo {
  background-image: url("./Images/amazon_logo.png");
  background-size: cover;
  height: 58px;
  width: 100%;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
  border-radius: 4px;
}

/* Box 2 */
.nav-add {
  padding: 7px 8px 7px 8px;
}

.add-address {
  color: #cccccc;
  font-size: 0.7rem;
  margin-left: 3px;
}

.add-india {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 3px
}

.nav-icon {
  display: flex;
  align-items: center;
  margin-right: 2px;
  font-size: 22px
}

/* Box 3 */
.nav-search:hover {
  border: 4px solid #D0832C;
  border-radius: 7px;
}

.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 400px;
  height: 44px;
  border-radius: 4px;
}

.search-select {
  background-color: #f3f3f3;
  width: 45px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 350%;
  font-size: 1.1rem;
  border: none;
  outline: none;
}

.search-icon {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #0f1111;
  background-color: #EA922D;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
}

/* Box 4 */
.nav-sign {
  padding: 8px 5px 8px 5px;
}

span {
  font-size: 0.7rem;
}

.list {
  font-weight: bolder;
}

span {
  font-size: 0.7rem;
}

.order {
  font-weight: bolder;
}

.nav-return {
  padding: 8px 5px 8px 5px;
}

/* Box 5 */
.nav-cart i {
  font-size: 33px;
  padding: 2px;
}

.nav-cart {
  font-size: 0.85rem;
  font-weight: bold;
  padding: 8px 15px 8px 8px;
}

/* Nav Panel */
.panel {
  height: 40px;
  color: white;
  background-color: #222f3d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.panel-all {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 6px 5px 6px 5px;
}

.panel-ops {
  width: 75%;
  font-size: 0.9rem;

}

.panel-ops p {
  display: inline;
  margin-left: 12px;
  font-weight: 400;
  padding: 9px 6px 8.5px 6px;
}

.deal {
  font-size: 0.88rem;
  font-weight: 500;
  padding: 9px 6px 9px 6px;
}

/* Hero Section */

.hero-section {
  background-image: url("./Images/hero_image.jpg");
  height: 420px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  color: black;
  height: 37px;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 25px;
}

.hero-msg a {
  text-decoration: none;
  color: #6D98FF;
  margin-left: 10px;
}

/* Shop section */
.box-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #E2E7E6;
  height: 235rem;
}

.box {
  margin-top: 15px;
  height: 400px;
  width: 30%;
  background-color: white;
  padding: 20px 0px 15px;
}

.img {
  height: 330px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p {
  color: #007185;
}

.box-content p:hover {
  color: royalblue;
}

/* footer */
.foot-panel1 a {
  background-color: #37475A;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
}

.foot-panel2 {
  background-color: #222F3D;
  color: white;
  height: 330px;
  display: flex;
  justify-content: space-evenly;
}

.foot-panel2 a:hover {
  display: inline-block;
  color: #7FB4FF;
  border-bottom: 1.5px solid white;
}

ul {
  margin-top: 35px;
}

ul p {
  font-weight: 700;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #DDDDDD;
  font-weight: 400;
}

.foot-panel3 {
  background-color: #222F3D;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("./Images/amazon_logo.png");
  background-size: cover;
  height: 60px;
  width: 100px;
}

.foot-panel4 {
  background-color: #0F1111;
  color: white;
  height: 80px;
  font-size: 0.9rem;
  text-align: center;
}

.pages {
  padding-top: 20px;
}

.pages a {
  margin: 10px;
}

.copy-right {
  padding-top: 7px;
}